body {
  margin: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #1abc9c;
  --primary-hover: #159a84;
  --secondary-color: #008cba;
  --secondary-hover: #0078a0;
  --danger-color: #e74c3c;
  --danger-hover: #c0392b;
  --inverted-hover: #ddd;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page-message {
  padding: 1rem;
  text-align: center;
}

.link {
  color: #007bff;
}

.link:hover {
  color: #0056b3;
}
