.container {
  margin: auto;
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.register {
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin: 1rem 0rem;
}

.error-field {
  color: red;
  display: block;
}

.success {
  text-align: center;
  margin: auto;
}
