.container-correct {
  background-color: #4caf50;
  color: #ffffff;
}

.container-incorrect {
  background-color: #f44336;
  color: #ffffff;
}

.result-text {
  font-size: 2rem;
  font-weight: bold;
}
