.question-item {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #f5f6fa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.answer {
  display: flex;
  gap: 0.2rem
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.question-item legend {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 0.5rem;
}
