.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.container-correct {
  background-color: #4caf50;
  color: #ffffff;
}

.container-incorrect {
  background-color: #f44336;
  color: #ffffff;
}

.result-text {
  font-size: 2rem;
  font-weight: bold;
}

.rank-text {
  font-size: 1.5rem;
}
