.nickname {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
}

.message {
  font-size: 1.2rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
