.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #ffffff;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link {
  color: var(--secondary-color);
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  font-weight: bold;
  font-size: 0.8rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .user-message {
    display: none;
  }
}
